{% extends 'custom.twig' %}
{% block cover %}
{% endblock cover %}
{% block cover_slug %}
<p class="medium">A principle-based motivational seminar for personal growth, success and achievement.</p>
{% endblock %}
{% block homepage %}
{#empty#}
{% endblock homepage %}
{% block content %}
<div class="col-md-8 post">
<h1>OMG! What did you do?</h1>
<p class="primary-text">OOPS sorry, 404 ERROR. Someone is going to get fired over this :) ...</p>
</div>
{% endblock %}